body{
}
.Home{
  background-color: #A3C1EF;
  color: #FFFFFF;
}
.History{
  color: #163561;
}
.Service{
  color: #163561;
}
.Gallary{
  color: #163561;
}
.Appointment{
  background-color: #99BAED;
  color: #FFFFFF;
}
.Hairstyle{
  color: #FBB400;
}
h2{
  color: #163561;
}
p{
  color: #153461;
}
.Get-Starter{
background-color:#99BAED;
color: #FFFFFF;
}
.history{
  color: #FBB400;
}
.Learn-more{
  background-color: #A3C1EF;
  color: #FFFFFF;
}
.Hair-Cut{
color:#FFFFFF;
}
.Our{
  background-color: #99BAED;
}
.View-All{
  background-color: #A3C1EF;
  color: #FFFFFF;
}
.Facebook{
  background-color: #99BAED;
  color: #FFFFFF;
}
.Twitter{
  background-color: #D3E5FF;
  color: #FFFFFF;
}
.Google{
  background-color: #D3E5FF;
  color: #FFFFFF;
}
.provide{
  color: #FBB400;}